{% extends "TwigBundle::layout.html.twig" %}

{% block head %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="icon" sizes="16x16" href="{{ asset('favicon.ico') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/acmedemo/css/demo.css') }}" />
    
    
    <!-- Bootstrap -->
    <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet" media="screen">
{% endblock %}

{% block title 'Mgag' %}

{% block body %}
    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="flash-message">
            <em>Notice</em>: {{ flashMessage }}
        </div>
    {% endfor %}

    {% block content_header %}
        <ul id="menu">
            {% block content_header_more %}
                <li><a href="{{ path('_demo') }}">Demo Home</a></li>
            {% endblock %}
        </ul>

        <div style="clear: both"></div>
    {% endblock %}

    <div class="block">
        {% block content %}{% endblock %}
    </div>

    {% if code is defined %}
        <h2>Code behind this page</h2>
        <div class="block">
            <div class="symfony-content">{{ code|raw }}</div>   
        </div>
    {% endif %}
    
    <!-- jQuery (necessary for Bootstraps JavaScript plugins) -->
    <script src="{{ asset('js/jquery.js') }}"></script>
    <!-- Include all JavaScripts, compiled by Assetic -->
    <script src="{{ asset('js/bootstrap.js') }}"></script>
    
{% endblock %}
